@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: white;
}

h1,
h2,
h3,
h4 {
  color: white;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
}

.non-gelcoat {
  background-color: #f6fdcf;
}

.gloss-white {
  background-color: #e5e5e5;
}

.matte-elder-white {
  background-color: #eff0e4;
}

.matte-greige {
  background-color: #efefed;
}

.gloss-med-gray {
  background-color: #c0c0c0;
}

.matte-charcoal {
  background-color: #808080;
}

.matte-black {
  background-color: #2d2a2b;
}

.gloss-orange {
  background-color: #ef4407;
}

.matte-red {
  background-color: #bf2026;
}

.matte-dark-blue {
  background-color: #243179;
}
