.MainWrapper {
  background-color: #222;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  > div {
    min-height: 650px;
    min-width: 1000px;
    max-width: 1180px;
    background-color: #444;
  }

  h1 {
    color: #fff;
    font-size: 3rem;
    font-weight: 900;
  }

  p {
    font-size: 1.3rem;
  }
}
